<style>
	table#blog_posts th, table#blog_posts td {
		text-align: left;
	}
	
	#content {
		width: 900px;
	}	
</style>

<h2 class="ic-db">Blog Posts</h2>
<table id="blog_posts">
	<thead>
		<th width="50px">ID</th>
		<th width="100px">User</th>
		<th width="150px">Title</th>
		<th width="90px">Parent ID</th>
		<th width="90px">Published</th>
		<th width="90px">Featured</th>
		<th width="200px">Actions</th>
	</thead>
	<tbody>
		<% @blog_posts.each do |post| %>
			<tr>
				<td><%= post.id %></td>
				<td><%= post.user.login %></td>
				<td><%= post.title %></td>
				<td><%= post.parent_id %></td>
				<td><%= post.published %></td>
				<td><%= post.featured %></td>
				<td>
					<%= link_to 'Edit', '/admin/blog_post_edit?id=' + post.id.to_s %> |
					<%= link_to 'Delete', '/admin/blog_post_delete?id=' + post.id.to_s, :confirm => 'Are you sure you want to delete this blog post?' %> |
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
