<style>
	table#events th, table#events td {
		text-align: left;
	}
	
	#content {
		width: 900px;
	}	
</style>

<h2 class="ic-db">Events</h2>
<%= link_to 'Add Event', '/admin/event_new' %>
<table id="events">
	<thead>
		<th width="50px">ID</th>
		<th width="190px">Name</th>
		<th width="150px">Start Time</th>
		<th width="150px">End Time</th>
		<th width="150px">Location</th>
		<th width="100px">Organizer</th>
		<th width="200px">Actions</th>
	</thead>
	<tbody>
		<% @events.each do |event| %>
			<tr>
				<td><%= event.id %></td>
				<td><%= event.name %></td>
				<td><%= event.start_time.to_s(:basic) %></td>
				<td><%= event.end_time.to_s(:basic) %></td>
				<td><%= event.location %></td>
				<td><%= event.organized_by %></td>
				<td>
					<%= link_to 'Edit', '/admin/event_edit?id=' + event.id.to_s %> |
					<%= link_to 'Delete', '/admin/event_delete?id=' + event.id.to_s, :confirm => 'Are you sure you want to delete this event?' %> |
				</td>
			</tr>
		<% end %>
	</tbody>
</table>


