<div id="features" class="section cssbox"> 
	<div class="cssbox_head"> 
		<h4 style="text-align:center;padding-top:10px;"><span class="features_title">Features</span></h4> 
	</div> 
	<div class="cssbox_body"> 
		<ul id="features_list"> 
			<li> 
				<%= image_tag 'enginey.com/user.png' %>
				<div class="feature_txt">User profiles</div> 
			</li> 
			<li> 
				<%= image_tag 'enginey.com/events.png' %>
				<div class="feature_txt">Events</div> 
			</li> 
			<li> 
				<%= image_tag 'enginey.com/blogs.png' %>
				<div class="feature_txt">Blogs</div> 
			</li> 
			<li> 
				<%= image_tag 'enginey.com/private_msgs.png' %>
				<div class="feature_txt">Private Messages</div> 
			</li> 
			<li> 
				<%= image_tag 'enginey.com/photos.png' %>
				<div class="feature_txt">Photos</div> 
			</li> 
			<li> 
				<%= image_tag 'enginey.com/forums.png' %>
				<div class="feature_txt">Forums</div> 
			</li> 
			<li> 
				<%= image_tag 'enginey.com/activity.png' %>
				<div class="feature_txt">Activity Stream</div> 
			</li> 
			<li> 
				<%= image_tag 'enginey.com/facebook.png' %>
				<div class="feature_txt">Facebook Connect</div> 
			</li> 
			<li><a href="features.html">and much more...</a></li> 
		</ul> 
	</div> 
</div> 