<%#
Copyright 2009 Timothy Fisher

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title><%= @network.name %></title>
	<link rel="shortcut icon" href="/favicon.ico" />
	<%= stylesheet_link_tag 'style' %>
	<%= stylesheet_link_tag "themes/simple/simple.css" %>
	
	<%= javascript_include_tag "jquery-1.4.2.min.js" %>
	
	<%= javascript_include_tag "themes/simple-jquery/widget" %>
		
	<%= render 'layouts/widgets' %>
    
	<%= javascript_include_tag "slide_show" %>
	
	<%= yield :script_content %>
	
	<%= javascript_include_tag "themes/simple-jquery/application" %>
	
    <script type="text/javascript">  	
		var authenticity_token = "<%= form_authenticity_token %>";				
    </script>
	
	<%= include_tiny_mce_if_needed %>
	
	<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
	
</head>

<body>
	<% if Configuration.ENABLE_FACEBOOK_CONNECT %>
		<%= fb_connect_javascript_tag %>
		<%= init_fb_connect('XFBML', :js => :jquery) %> 
	<% end %>
		<div id="content">
			<div id="header">
				<div id="masthead"></div>
				<%= render :partial => 'shared/nav_menu' %>
			</div>
			<div id="main">
				<% if @section == 'MAIN' || @section == 'profile' || (@section == 'MEMBERS' && @user != nil)%>
					<%= yield %>
				<% else %>
					<div class="col1">
						<%= yield  %>
					</div>
					<div class="col2">
						<%= render :partial => 'users/user_control_widget' %>
					</div>
					<div style="clear:both;"></div>
				<% end %>
			</div>
			<div id="footer">
				<%= render :partial => 'shared/footer' %>
			</div>
			<div style="clear:both;"></div>
		</div>
		<%= render '/layouts/analytics' %>
</body>

</html>

