<style>
	table#forum_topics th, table#forum_topics td {
		text-align: left;
	}
	
	table#forum_topics th.center_col, table#forum_topics td.center_col {
		text-align: center;
	}
	
	#content {
		width: 900px;
	}	
</style>

<h2 class="ic-db">Forum Topics</h2>
<%= link_to 'Create a topic', '/admin/forum_topic_new' %><br/><br/>
<table id="forum_topics">
	<thead>
		<th width="50px">ID</th>
		<th width="150px">Title</th>
		<th width="90px" class="center_col">User ID</th>
		<th width="200px">Actions</th>
	</thead>
	<tbody>
		<% @forum_topics.each do |topic| %>
			<tr>
				<td><%= topic.id %></td>
				<td><%= topic.title %></td>
				<td class="center_col"><%= topic.user_id %></td>
				<td>
					<%= link_to 'Edit', '/admin/forum_topic_edit?id=' + topic.id.to_s %> |
					<%= link_to 'Delete', '/admin/forum_topic_delete?id=' + topic.id.to_s, :confirm => 'Are you sure you want to delete this forum topic?' %> |
				</td>
			</tr>
		<% end %>
	</tbody>
</table>