<div id="left_nav">
	<div class="nav_section">
		<div class="nav_section_title"><%= link_to 'Dashboard', '/admin' %></div>
	</div>
	<div class="nav_section">
		<div class="nav_section_title"><%= link_to 'Content', '/admin/content' %></div>
		<ul>
			<li><%= link_to 'Users', '/admin/users' %></li>
			<li><%= link_to 'Groups', '/admin/groups' %></li>
			<li><%= link_to 'Events', '/admin/events' %></li>
			<li><%= link_to 'Blog Posts', '/admin/blog_posts' %></li>
			<li><%= link_to 'Forums', '/admin/forums' %></li>
			<li><%= link_to 'Managed Content', '/admin/contents' %></li>
		</ul>
	</div>
	<div class="nav_section">
		<div class="nav_section_title"><%= link_to 'Pages, Tabs, and Modules', '/admin/pages_tabs_mods' %></div>
		<ul>
			<li><%= link_to 'Pages', '/admin/pages' %></li>
			<li><%= link_to 'Tabs', '/admin/tabs' %></li>
			<li><%= link_to 'Modules', '/admin/modules' %></li>
			<li><%= link_to 'Widgets', '/admin/modules' %></li>
			<li><%= link_to 'Widget Layouts', '/admin/modules' %></li>
		</ul>
	</div>
	<div class="nav_section">
		<div class="nav_section_title"><%= link_to 'API', '/admin/api' %></div>
		<ul>
			<li><%= link_to 'Keys', '/admin/api_keys' %></li>
			<li><%= link_to 'Test Center', '/admin/api_test' %></li>
		</ul>
	</div>
	<div class="nav_section">
		<div class="nav_section_title"><%= link_to 'Stats', '/admin/stats' %></div>
	</div>
	<div class="nav_section">
		<div class="nav_section_title"><%= link_to 'Settings', '/admin/settings' %></div>
	</div>
	<div class="nav_section">
		<div class="nav_section_title"><%= link_to 'Return to Site', '/home' %></div>
	</div>
</div>
