<h3 class="ic-side-default">Quick Statistics</h3>
<div class="section">
	<p>
		Community Name <i><b><%= Network.find(:first).name %></b></i><br/>
		Created on <i><b><%= Network.find(:first).created_at.to_s(:event_brief) %></b></i>
		<% if Theme.find(:first) %>
			Current Theme <i><b><%= Theme.find(:first).name %></b></i>
		<% end %>
	</p>
	<p>
		Users: <strong><%= User.count %></strong><br>
		Groups: <strong><%= Group.count %></strong><br>
		Events: <strong><%= Event.count %></strong><br>
	</p>
</div>