<h2 class="admin_page_title">Content</h2>

<div class="admin_page_desc">
This admin section is where you can manage the content of your website.
</div>

<div class="admin_section_links">
	<ul>
		<li><%= link_to 'Users', '/admin/users' %></li>
		<li><%= link_to 'Groups', '/admin/groups' %></li>
		<li><%= link_to 'Events', '/admin/events' %></li>
		<li><%= link_to 'Blog Posts', '/admin/blog_posts' %></li>
		<li><%= link_to 'Forums', '/admin/forums' %></li>
		<li><%= link_to 'Managed Content', '/admin/contents' %></li>
	</ul>
</div>