<style>
	table#pages th, table#pages td, table#widgets th, table#widgets td, 
	table#layouts th, table#layouts td,
	table#contents th, table#contents td {
		text-align: left;
	}
	
	#content {
		width: 900px;
	}	
</style>


<h2 class="ic-db">Widgets</h2>
<%= link_to 'Add Widget', '/admin/widget_new' %>
<table id="widgets">
	<thead>
		<th width="50px">ID</th>
		<th width="160px">Name</th>
		<th width="100px">Title</th>
		<th width="100px">Module</th>
		<th width="300px">Actions</th>
	</thead>
	<tbody>
		<% @widgets.each do |widget| %>
			<tr>
				<td><%= widget.id %></td>
				<td><%= widget.name %></td>
				<td><%= widget.title %></td>
				<td><%= widget.ey_module.name %></td>
				<td>
					<%= link_to 'Edit', '/admin/widget_edit?id=' + widget.id.to_s %> |
					<%= link_to 'Delete', '/admin/widget_delete?id=' + widget.id.to_s, :confirm => 'Are you sure you want to delete this widget?' %> |
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<h2 class="ic-db">Layouts</h2>
Layouts place widgets into specific positions on a page.  Selecting all the layouts for a particular
page will determine the content for that page.<br/><br/>
<%= link_to 'Add Layout', '/admin/layout_new' %>
<table id="layouts">
	<thead>
		<th width="50px">ID</th>
		<th width="100px">Page Name</th>
		<th width="140px">Widget Name</th>
		<th width="70px">Col Num</th>
		<th width="70px">Row Num</th>
		<th width="100px">HTML Content</th>
		<th width="300px">Actions</th>
	</thead>
	<tbody>
		<% @layouts.each do |layout| %>
			<tr>
				<td><%= layout.id %></td>
				<% if layout.page %>
					<td><%= layout.page.name %></td>
				<% else %>
					<td>null</td>
				<% end %>
				<td><%= layout.widget.name %></td>
				<td><%= layout.col_num %></td>
				<td><%= layout.row_num %></td>
				<% if layout.html_content %>
					<td><%= link_to layout.html_content.title, '' %></td>
				<% else %>
					<td></td>
				<% end %>
				<td>
					<%= link_to 'Edit', '/admin/layout_edit?id=' + layout.id.to_s %> |
					<%= link_to 'Delete', '/admin/layout_delete?id=' + layout.id.to_s, :confirm => 'Are you sure you want to delete this layout?' %> |
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
