<%#
Copyright 2009 Timothy Fisher

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
%>
<script type='text/javascript'>
	var blog_post_id = <%= @blog_post.id.to_s %>;
</script>
<% form_for(@blog_post, :html => { :multipart => true }) do |f| -%>			
	<%= f.error_messages %>
	<div class="form_field">
    	<label for="title">Post Title:</label><br/>
		<%= f.text_field :title, :class=>'input_field' %>
	</div>
	<div class="form_field">
    	<label for="body">Entry:</label>
		<span class="help_text">maximum 5000 characters</span><br/>
		<%= f.text_area :body, :cols=>80, :rows=>30, :class=>"mceEditor" %>
	</div>
	
	<div class="form_field">
		<label for="topics">Topics:</label><br/><br/>
		<% if @blog_post_topics %>
			<%= render :partial=>'/blog_posts/blog_post_topic_list'%>
		<% else %>
			You have not created any blog post topics<br/>
		<% end %>
		<div id="create_topic">
			<%= link_to 'Create a new topic', 'javascript:show_blog_topic_field()' %>
			<div id="blog_post_topic_field" style="display:none;">
				<input type="text" id="blog_post_topic_entry" name="blog_post_topic_entry" />
				<%= link_to 'Save', 'javascript:save_blog_topic()' %>
			</div>
		</div>
	</div>
	
	<div class="form_field">
    	<label for="tags">Tags:</label><br/>
		<%= f.text_field :tag_list, :class=>'input_field' %>
	</div>
	<div class="form_field">
    	<label for="published">Publish:</label>
		<%= f.check_box :published, :class=>'checkbox_input', :checked=>'checked' %>
		<span class="help_text">Important!  Uncheck this if you want to save the post as a draft.</span>
	</div>
    <%= f.submit "Save", :class=>'add_button' %>&nbsp;&nbsp;
<% end %>