<%#
Copyright 2009 Timothy Fisher

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
%>

<%= stylesheet_link_tag 'projects' %>

<h1>Edit HTML Content</h1>
	
<div id="add_project">	
	<% form_for(@html_content) do |f| -%>			
		<%= f.error_messages %>
		<div class="form_field">
	    	<label for="title">Title:</label><br/>
			<%= f.text_field :title, :class=>'input_field' %>
		</div>
		<div class="form_field">
	    	<label for="body">Body:</label>
			<span class="help_text">maximum 5000 characters</span><br/>
			<%= f.text_area :body, :cols=>60, :rows=>6 %>
		</div>
	    <%= f.submit "Save", :class=>'add_button' %>&nbsp;&nbsp;
	<% end %>
	<div style="clear:both;"></div>
</div>
<div style="clear:both;"></div>
