<%#
Copyright 2009 Timothy Fisher

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
%>
<div class="module">
	<div class="module_head">
		<%= render :partial=>'widgets/widget_header', :locals=>{:widget_title=>'Groups'} %>
	</div>
	<div class="module_body">
		<% count = 0 %>
		<% @groups.each do |group | %>
			<% count = count + 1 %>
			<% if (count == @groups.size) %>
				<div class="groups_widget_group last_child">
			<% else %>
				<div class="groups_widget_group">
			<% end %>
				<div class="groups_widget_photo">
					<% if group.profile_photo %>
						<%= link_to image_tag(group.profile_photo.public_filename(:small), :alt=>group.name), group_url(group) %>
					<% else %>
						<%= link_to 'No Photo', group_url(group) %>
					<% end %>
				</div>
				<div class="groups_widget_text">
					<span class="group_name">
						<%= link_to group.name, group_url(group) %>
					</span><br/>
					<%= group.users.size %> members
				</div>
			</div>
		<% end %>
		<% if @groups.length == 0 %>
			No groups exist!
		<% end %>
		<div style="clear:both;"></div>
	</div>
	<div class="module_foot">
		<div class="foot_left">
			<% if logged_in? %>
				<%= link_to 'Add Group', new_group_path %>
			<% end %>
		</div>
		<div class="foot_right">
			<%= link_to 'View All', groups_url %>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>