<%#
Copyright 2009 Timothy Fisher

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
%>
<% form_for(@user, :html => { :multipart => true }) do |f| -%>
	<%= f.error_messages %>
	<% if defined? admin_page %>
		<input type="hidden" name="admin_page" value="1" />
	<% end %>
	<% if @user.id == nil %>
		<div id="signup_help">
			After signing up, you will receive a confirmation email.  Follow the activation link in the email to
			complete the signup process.
		</div>
	<% end %>
	<div id="required_fields">
		<div class="section_title">Required Fields</div>
		<div class="form_field">
			<label for="login">Login:</label>
			<%= f.text_field :login, :class=>'input_field' %>
		</div>
		<div class="form_field">
			<label for="first_name">First Name:</label>
			<%= f.text_field :first_name, :class=>'input_field' %>
		</div>
		<div class="form_field">
			<label for="last_name">Last Name:</label>
			<%= f.text_field :last_name, :class=>'input_field' %>
		</div>
		<div class="form_field">
			<label for="email">Email</label>
			<%= f.text_field :email, :class=>'input_field'  %>
		</div>
		<div class="form_field">
			<label for="password">Password</label>
			<%= f.password_field :password %>
		</div>
		<div class="form_field">
			<label for="password_confirmation">Confirm Password</label>
			<%= f.password_field :password_confirmation %>
		</div>
		
		
		<% if @user.api_is_enabled? %>
		  <div class="form_field">
		    Your API Key: 
		    (<%= link_to "re-generate", api_key_path, :method => :post %> | <%= link_to "disable", api_key_path, :method => :delete %>)
		  </div>
		  <div class="form_field">
		    <strong><%= @user.api_key %></strong>
		  </div>
		<% else %>
		  <div class="form_field api_key_text">	
		    You'll need a unique key to make calls to the API.  Remember to keep this key a 
			secret as it can be used to access your account.
		  </div>
		  <div class="form_field">
		    <%= link_to("Get a key", api_key_path, :method => :post) %>
		  </div>
		<% end %>		
		
		
		
	</div>
	<div id="optional_fields">
		<div class="section_title">User Profile</div>
		<div class="form_field">
			<label for="gender">Gender:</label>
			<%= f.select( :sex, { "Male" => "M", "Female" => "F"}) %>
		</div>
		<div class="form_field">
			<label for="city">City:</label>
			<%= f.text_field :city, :class=>'input_field' %>
		</div>
		<div class="form_field">
			<label for="country">Country:</label>
			<%= f.collection_select :country_id, Country.find(:all),:id,:name %>
		</div>
		<div class="form_field">
			<label for="state">State:</label>
			<%= f.collection_select :state_id, State.find(:all),:id,:name %>
		</div>
		<div class="form_field">
			<label for="profile_photo">Profile Photo:</label>
			<% if (@user.profile_photo) %>
					<%= image_tag(@user.profile_photo.public_filename(:thumb)) %>
			<% end %>
			<%= file_field_tag :user_photo %>
			<br/><br/><br/>
			<span style="float:left;clear:both;margin-bottom:20px;margin-left:25px;color:gray;">
				Or you can use a Gravatar from <a href="http://www.gravatar.com">gravatar.com</a>
				&nbsp;&nbsp;&nbsp;**Coming Soon**
			</span>
			<br/><br/>
		</div>
		<div class="form_field">
			<label for="about_me">About Me:</label>
			<div class="field_with_help">
				<span class="help_text">maximum of 1500 characters</span><br/>
				<%= f.text_area :about_me, :rows=>10, :cols=>60, :class=>'input_field' %>
			</div>
		</div>
		<div class="form_field">
			<label for="receive_emails">Receive Emails:</label>
			<%= f.check_box :receive_emails %>
			<span style="float:left;clear:both;margin-bottom:20px;margin-left:25px;color:gray;">
				(Notification of private messages and wall posts to your profile.
			</span>
		</div>
		<div class="section_title">On the Web</div>
		<div class="form_field">
			<label for="website">Blog Feed URL:</label>
			<%= f.text_field :blog_feed, :class=>'input_field' %>
		</div>
		<div class="form_field">
			<label for="website">Website:</label>
			<%= f.text_field :website, :class=>'input_field' %>
		</div>
		<div class="form_field">
			<label for="blog">Blog:</label>
			<%= f.text_field :blog, :class=>'input_field' %>
		</div>
		<div class="form_field">
			<label for="flickr_username">Flickr Username:</label>
			<%= f.text_field :flickr_username, :class=>'input_field' %>
		</div>
		<div class="form_field">
			<label for="twitter_id">Twitter ID:</label>
			<%= f.text_field :twitter_id, :class=>'input_field' %>
		</div>
		<div class="form_field">
			<label for="linked_in_url">LinkedIn URL:</label>
			<%= f.text_field :linked_in_url, :class=>'input_field' %>
		</div>
		<div class="form_field">
			<label for="facebook_url">Facebook URL:</label>
			<%= f.text_field :facebook_url, :class=>'input_field' %>
		</div>
	</div>
	<% if @user.id == nil %>
		<%= submit_tag 'Signup', :class=>'add_button' %>
	<% else %>
		<%= submit_tag 'Save', :class=>'add_button' %>
	<% end %>
<% end -%>
