<style>
	table#blog_posts th, table#blog_posts td, table#blog_post_topics th, table#blog_post_topics td {
		text-align: left;
	}
	
	#content {
		width: 900px;
	}	
</style>

<h2 class="ic-db">Blog Post Topics</h2>
<%= link_to 'Add Topic', '/admin/blog_post_topic_new' %><br/><br/>
<% if @blog_post_topics and @blog_post_topics.length > 0%>
	<table id="blog_post_topics">
		<thead>
			<th width="50px">ID</th>
			<th width="80px">User</th>
			<th width="120px">Name</th>
			<th width="60px">Default</th>
			<th width="200px">Actions</th>
		</thead>
		<tbody>
			<% @blog_post_topics.each do |topic| %>
				<tr>
					<td><%= topic.id %></td>
					<td><%= topic.user.login %></td>
					<td><%= topic.name %></td>
					<td><%= topic.default %></td>
					<td>
						<%= link_to 'Edit', '/admin/blog_post_topic_edit?id=' + topic.id.to_s %> |
						<%= link_to 'Delete', '/admin/blog_post_topic_delete?id=' + topic.id.to_s, :confirm => 'Are you sure you want to delete this blog post topic?' %> |
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	No Blog Post Topics have been created
<% end %>

<h2 class="ic-db">Blog Posts</h2>
<%= link_to 'Add Post', '/admin/blog_post_new' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to 'Export Posts', '/admin/blog_post_export' %><br/><br/>

<% form_for( :fmfile, :url => '/admin/blog_post_import', :html => { :method => :post, :name => 'blog_post_import', :enctype => 'multipart/form-data' } ) do |f| %>
	<%= f.file_field :document, :accept => 'text/xml', :name => 'blog_posts_file' %>
	<%= submit_tag 'Import Blog Posts' %>
<% end %>

<br/><br/>
<table id="blog_posts">
	<thead>
		<th width="50px">ID</th>
		<th width="80px">User</th>
		<th width="220px">Title</th>
		<th width="90px">Published</th>
		<th width="180px">Pub Date</th>
		<th width="200px">Actions</th>
	</thead>
	<tbody>
		<% @blog_posts.each do |post| %>
			<tr>
				<td><%= post.id %></td>
				<td><%= post.user.login %></td>
				<td><%= post.title %></td>
				<td style="text-align:center;"><%= post.published %></td>
				<td><%= post.created_at.to_s %>
				<td>
					<%= link_to 'Edit', '/admin/blog_post_edit?id=' + post.id.to_s %> |
					<%= link_to 'Delete', '/admin/blog_post_delete?id=' + post.id.to_s, :confirm => 'Are you sure you want to delete this blog post?' %> |
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
