<style>
	table#blog_posts th, table#blog_posts td, table#blog_post_topics th, table#blog_post_topics td {
		text-align: left;
	}
	
	#content {
		width: 900px;
	}	
</style>

<h2 class="ic-db">Blog Post Topics</h2>
<%= link_to 'Add Topic', '/admin/blog_post_topic_new' %><br/><br/>
<% if @blog_post_topics and @blog_post_topics.length > 0%>
	<table id="blog_post_topics">
		<thead>
			<th width="50px">ID</th>
			<th width="100px">User</th>
			<th width="150px">Name</th>
			<th width="90px">Parent ID</th>
			<th width="90px">Default</th>
			<th width="200px">Actions</th>
		</thead>
		<tbody>
			<% @blog_post_topics.each do |topic| %>
				<tr>
					<td><%= topic.id %></td>
					<td><%= topic.user.login %></td>
					<td><%= topic.name %></td>
					<td><%= topic.parent_id %></td>
					<td><%= topic.default %></td>
					<td>
						<%= link_to 'Edit', '/admin/blog_post_topic_edit?id=' + topic.id.to_s %> |
						<%= link_to 'Delete', '/admin/blog_post_topic_delete?id=' + topic.id.to_s, :confirm => 'Are you sure you want to delete this blog post topic?' %> |
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	No Blog Post Topics have been created
<% end %>

<h2 class="ic-db">Blog Posts</h2>
<%= link_to 'Add Post', '/admin/blog_post_new' %><br/><br/>
<table id="blog_posts">
	<thead>
		<th width="50px">ID</th>
		<th width="100px">User</th>
		<th width="150px">Title</th>
		<th width="90px">Parent ID</th>
		<th width="90px">Published</th>
		<th width="90px">Featured</th>
		<th width="200px">Actions</th>
	</thead>
	<tbody>
		<% @blog_posts.each do |post| %>
			<tr>
				<td><%= post.id %></td>
				<td><%= post.user.login %></td>
				<td><%= post.title %></td>
				<td><%= post.parent_id %></td>
				<td><%= post.published %></td>
				<td><%= post.featured %></td>
				<td>
					<%= link_to 'Edit', '/admin/blog_post_edit?id=' + post.id.to_s %> |
					<%= link_to 'Delete', '/admin/blog_post_delete?id=' + post.id.to_s, :confirm => 'Are you sure you want to delete this blog post?' %> |
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
