<%#
Copyright 2009 Timothy Fisher

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
%>

<% content_for :script_content do %>
	<script>
		function page_init() {
			// delay slideshow start to allow photos widget to load via ajax
			setTimeout(start_slideshow, 10000);
		}
		
		function start_slideshow() {
			<% photo = @photos[0] %>
			var slide_show = new SlideShow("widget_photo", 3000);
			<% @photos.each do |photo| %>
			{
				var img<%= photo.id %> = new Image();
				img<%= photo.id %>.onload = function(){slide_show.add_slide(img<%= photo.id %>);};
				img<%= photo.id %>.src = "<%= photo.public_filename(:display) %>";
			}
			<% end %>
		}
	</script>
<% end %>


<div class="column_1">
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
	<%= render :partial => 'shared/network_info_widget' %>
	<div id="left_side_widgets"></div>
</div>
<div class="column_2">
	<div id="widgets"></div>
	<!-- display HTML widgets
	<% if @html_contents %>
		<% @html_contents.each do |html_content| %>
			<%= render :partial => 'html_contents/html_content_widget', :locals=>{:content=>html_content} %>
		<% end %>
	<% end %>
	-->
</div>

