<%#
Copyright 2009 Timothy Fisher

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
%>
<% widget_title = "Job Posts" %>

<% @jobs = JobPost.find(:all, :select=>'id, job_title, company', :limit=>5, :order=>'created_at DESC') %>

<% content_for :module_header do %>
	<div class="head_left">
		<%= image_tag('clock.png', :alt=>'events', :align=>'absmiddle')%>&nbsp;&nbsp;<%= widget_title %>
	</div>
	<div class="head_right">
		<%= show_expand_collapse_btn %>	
	</div>
	<div style="clear:both;"></div>
<% end %>

<% content_for :module_body do %>
	<% count = 0 %>
	<% @jobs.each do |job | %>
		<% count = count + 1 %>
		<% if (count == @jobs.size) %>
			<div class="jobs_widget_job last_child">
		<% else %>
			<div class="jobs_widget_job">
		<% end %>
			<div class="jobs_widget_text">
				<span class="job_name">
					<%= link_to job.job_title, job_posts_path %>
				</span><br/>
				<%= job.company %>
			</div>
		</div>
	<% end %>
	<% if @jobs.length == 0 %>
		No job posts exist!
	<% end %>
	<div style="clear:both;"></div>
<% end %>

<% content_for :module_footer do %>
	<div class="foot_left">
		<% if logged_in? %>
			<%= link_to 'Add Job Post', new_job_post_path %>
		<% end %>
	</div>
	<div class="foot_right">
		<%= link_to 'View All', job_posts_url %>
	</div>
	<div style="clear:both;"></div>
<% end %>
