<div class="theme-block box">
  <h3><%= theme[:name] %></h3>
  <% form_for @theme, :url => admin_theme_path, :html => { :method => :put } do |f| -%>
  	<%= f.hidden_field :name, :value => theme[:name] %>
  	<%= image_submit_tag theme[:preview_image], :id => "#{theme[:name].parameterize}", :name => "#{theme[:name].parameterize}" %>
  	<%= theme[:description] %>
  <% end -%>
  <% if DomainTheme.use_domain_themes? -%>
    <% domain_theme = DomainTheme.new(:name => theme[:name]) %>
    <% form_for [:admin, domain_theme] do |f| -%>
    	<%= f.hidden_field :name %>
    	<%= f.label t('disguise.theme_uri_label') %>
    	<%= f.text_field :uri %>
      <%= submit_tag t('disguise.add_uri') %>
    <% end -%>
  <% end -%>
  <% if !@domain_themes[theme[:name]].blank? %>
    <p class="theme-information"><%= t('disguise.uris_title') %></p>
    <ul class="theme-list">
      <% @domain_themes[theme[:name]].each do |domain_theme| -%>
        <li>
          <% form_for [:admin, domain_theme], :html => { :method => :delete } do |f| -%>
            <%= domain_theme.uri %>
            <%= submit_tag t('disguise.delete_uri') %>
          <% end -%>
        </li>
      <% end -%>
    </ul>
  <% end -%>
</div>

