<div class="admin_tab_content">
	<h1>Set Theme</h1>
	<div id="current_theme">
	    <h2>Current Theme</h2>
	    <% if @current_theme -%>
			<%= render :partial => 'admin/themes/theme', :object => @current_theme %>      
			<% form_for @theme, :url => admin_theme_path, :html => { :method => :put } do |f| -%>
				<%= f.hidden_field :name, :value => '' %>
				<%= submit_tag 'Remove theme and use default templates', 
				       :id => 'remove_all_themes', 
				       :name => 'remove_all_themes' %>
			<% end -%>
		<% else -%>
			Currently no theme has been selected for this application and so the default application view will be used. 
	    <% end -%>
	</div>
	<div id="select_theme">
		<h2>Click on a theme to activate it</h2>
		<%= error_messages_for :theme %>
		<%= render :partial => 'admin/themes/theme', :collection => @themes %>
	</div>
</div>