<h1><%= t('disguise.set_theme') %></h1>
<div id="current-theme">
  <% if DomainTheme.use_domain_themes? -%>
    <h2><%= t('disguise.use_domain_themes') %></h2>
  <% else -%>
    <h2><%= t('disguise.name_theme') %></h2>
    <% if @current_theme -%>
      <%= render :partial => 'admin/themes/theme', :object => @current_theme %>      
      <% form_for @theme, :url => admin_theme_path, :html => { :method => :put } do |f| -%>
        <%= f.hidden_field :name, :value => '' %>
        <%= submit_tag t('disguise.remove_all_themes'), :id => 'remove_all_themes', :name => 'remove_all_themes' %>
      <% end -%>
    <% else -%>
      <%= t('disguise.no_current_theme') %>
    <% end -%>
    <h2><%= t('disguise.activate_theme_message') %></h2>
  <% end -%>
</div>
<%= error_messages_for :theme %>
<%= render :partial => 'admin/themes/theme', :collection => @themes %>