<%#
Copyright 2009 Timothy Fisher

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
%>
<% form_for(@job_post, :html => { :multipart => true }) do |f| -%>			
	<%= f.error_messages %>
	<div class="form_field">
    	<label for="job_title">Job Title:</label>
		<%= f.text_field :job_title, :class=>'input_field' %>
	</div>
	<div class="form_field">
    	<label for="job_id">Job ID:</label>
		<%= f.text_field :job_id, :class=>'input_field' %>
	</div>
	<div class="form_field">
    	<label for="company">Company:</label>
		<%= f.text_field :company, :class=>'input_field' %>
	</div>
	<div class="form_field">
    	<label for="website">Website:</label>
		<%= f.text_field :website, :class=>'input_field' %>
	</div>
	<div class="form_field">
    	<label for="contact_name">Contact Name:</label>
		<%= f.text_field :contact_name, :class=>'input_field' %>
	</div>
	<div class="form_field">
    	<label for="email">Contact Email:</label>
		<%= f.text_field :email, :class=>'input_field' %>
	</div>
	<div class="form_field">
    	<label for="end_date">End Date:</label>
		<%= f.text_field :end_date, :class=>'input_field' %>
	</div>
	<div class="form_field">
    	<label for="description">Description:</label>
		<span class="help_text">maximum 5000 characters</span><br/>
		<%= f.text_area :description, :cols=>80, :rows=>20, :class=>"mceEditor" %>
	</div>
    <%= f.submit "Save", :class=>'add_button' %>
<% end %>
