<%#
Copyright 2009 Timothy Fisher
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License. %>
 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title><%= Network.find(:first).name %></title>
		<%= stylesheet_link_tag 'themes/personal_blog/personal_blog' %>
		<%= stylesheet_link_tag 'themes/personal_blog/personal_blog' %>
        <link href="/stylesheets/themes/personal_blog/personal_blog_print.css" rel="stylesheet" type="text/css" media="print" />
    
		<%= yield :script_content %>
		
		<% topics = BlogPostTopic.find(:all) %>
		
		<script type="text/javascript">  var disqus_developer = 1; </script> 
	</head>
    <body>
        <div id="wrapper">
            <div class="content_padding">
                <div id="header_effect">
                    <div id="header">
                        <p><%= link_to Network.find(:first).name, '/' %></p>
                    </div>
                </div>
				<%= yield %>
                <div id="side_one" class="side">
					<%= render :partial=>'/home/find_me' %>
					<%= render :partial=>'/home/rss_links' %>
					<%= render :partial=>'/home/meta_links' %>
                </div>
                <div id="side_two" class="side">
					<%= render :partial=>'/home/topics_list', :locals=>{:topics=>topics} %>
					<%= render :partial=>'/home/archives_list' %>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div id="footer">
            <div id="footer_wrapper">
                <div class="content_padding">
                    <div class="footer_meta">
                        <p>Powered by <a href="http://www.enginey.com">EngineY</a>.</p>
                    </div>
                </div>
            </div>
        </div>

		<script type="text/javascript">
		//<![CDATA[
		(function() {
			var links = document.getElementsByTagName('a');
			var query = '?';
			for(var i = 0; i < links.length; i++) {
			if(links[i].href.indexOf('#disqus_thread') >= 0) {
				query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
			}
			}
			document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/timothyfishersblog/get_num_replies.js' + query + '"></' + 'script>');
		})();
		//]]>
		</script>

    </body>
</html>
