<% posts = BlogPost.find(:all, :order => 'created_at DESC') %>
<% latest_post = BlogPost.find(:last) %>

<div id="content_wrapper">
    <div id="content">
        <h1><%= link_to latest_post.title, blog_post_path(latest_post) %></h1>
        <p class="author fresh">Posted on <em><%= latest_post.created_at.to_s(:short_text) %></em>.</p>
        <p><%= latest_post.body %></p>
        <big>
            <strong>
            	<%= link_to 'Read Full Post', blog_post_path(latest_post) %>
			</strong>
            | 
			<strong>
				<%= link_to 'Make a Comment', blog_post_path(latest_post) %>
			</strong>
            <small>
				(<strong> <a href="<%= blog_post_url(latest_post) %>#disqus_thread">View Comments</a></strong> so far)
            </small>
        </big>
		<h2 class="recently">Recent Posts...</h2>
		<% num_posts = posts.length %>
		<% posts.each do |post| %>
	        <div class="recent_post">
	            <h2><%= link_to post.title, blog_post_path(post) %></h2>
	            <p class="author">
	                Posted on <em><%= post.created_at.to_s(:short_text) %></em>.
	            </p>
	        </div>	
		<% end %>
    </div>
</div>