<% latest_post = current_user.blog_posts[0] %>

<div id="content_wrapper">
    <div id="content">
        <h1 id="post-173">
        	<a href="http://blog.timothyfisher.com/?p=173">
        		<%= latest_post.title %>
			</a>
		</h1>
        <p class="author fresh">Posted on <em><%= latest_post.created_at.to_s(:short_text) %></em>.</p>
        <p><%= latest_post.body %></p>
        <big>
            <strong>
            	<%= link_to 'Read Full Post', blog_post_path(latest_post) %>
			</strong>
            | 
			<strong>
            	<a href="http://blog.timothyfisher.com/?p=173#respond">Make a Comment</a>
			</strong>
            <small>
                ( <strong>
                	<a href="http://blog.timothyfisher.com/?p=173#respond">None</a>
				  </strong>
                so far ) 
            </small>
        </big>
        <!-- Minor posts start here -->
		<h2 class="recently">Recently on Timothy Fisher's Blog...</h2>
		<% num_posts = current_user.blog_posts.length %>
		<% (1..num_posts-1).each do |num| %>
			<% post = current_user.blog_posts[num] %>
	        <div class="recent_post">
	            <h2 id="post-164">
	            	<a href="http://blog.timothyfisher.com/?p=164">
	            		<%= post.title %>
					</a>
				</h2>
	            <p class="author">
	                Posted on <em><%= post.created_at.to_s(:short_text) %></em>.
	            </p>
	        </div>	
		<% end %>
    </div>
</div>